@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');


@layer utilities {
  .bg-blue-pink {
    background: linear-gradient(
      117deg,#5a4be7,#c86dd7 102%);
  }
}

body{
    font-family: 'Inter', sans-serif;
}

/* Track */
::-webkit-scrollbar {
    width: 4px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ffffff80;
    border-radius: 10px;
  }

  ::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 4px;
    cursor: pointer;
  }




